.homepage {
    background: #0b0e11;
}


.homepage .static_frame {
    width: 100%;
    background: #2c261e;
}

.homepage .personage_img.left {
    width: 204px;
    height: 200px;
    background: url("/public/home/papay2.png");
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: cover;

}

.homepage .personage_img.right {
    width: 204px;
    height: 200px;
    background: url("/public/home/papay2.png");
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-size: cover;

}

.homepage .static_box {
    width: 191px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage .static_num {
    width: 81.08031463623047px;
    height: 80px;
    font-family: 'Poppins';
    font-size: 54px;
    font-weight: 600;
    line-height: 81px;
    text-align: center;
    color: #FFFFFF;

}

.homepage .static_text {
    width: 191.35134887695312px;
    height: 30px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #E3C08D;
}

.homepage .top_restaurant_frame {
    width: 100%;
    height: 605px;
    display: flex;
    background: #0b0e11;
}

.homepage .catigory_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-top: 40px;
    color: #E3C08D;

}

.homepage .best_restaurant_frame {
    width: 100%;
    height: 775px;
    display: flex;
    background: #0b0e11;
}