.my_page .my_page_frame {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background: black;
    margin-top: -4rem;
}

.my_page_frame .my_page_left {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
}

.my_page_left .menu_name {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: flex;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    height: 70px;
    justify-content: center;
    width: 100%;
}

.my_page .menu_content .post_content,
.my_page_left .menu_content,
.my_page_left .write_content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    width: 100%;
}

.my_page .menu_content .post_content,
.my_page_left .menu_content,
.my_page_left .write_content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    width: 100%;
}

.my_page .all_article_box {
    align-items: center;
    background: #182226;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: row;
    height: 180px;
    margin-top: 20px;
    width: 100%;
}

.my_page .all_article_box .all_article_img {
    background-size: cover;
    border-radius: 30px 0 0 30px;
    height: 150px;
    width: 150px;
}

.my_page .all_article_box .all_article_container {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-left: 15px;
    width: 75%;
}

.article_share {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    margin-right: 30px;
    height: 180px;
    justify-content: flex-end;
    width: 650px;
 
}

.article_share .article_share_main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 330px;
    border: 2px solid black;
}


.my_page_frame .my_page_right {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 30px;
    width: 30%;
}

.my_page .order_info_box {
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25), inset 0 4px 4px rgba(0, 0, 0, .25), inset 0 4px 16px rgba(242, 189, 87, .04);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    position: relative;
    width: 100%;
}

.my_page .order_info_box .settings_btn {
    cursor: pointer;
    position: absolute;
    right: 19%;
    top: 6%;
}

.my_page .order_info_box .order_user_img {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.my_page .order_info_box .order_user_img .order_user_avatar {
    border-radius: 37px;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    height: 112px;
    width: 117px;
}

.my_page .order_info_box .order_user_icon_box {
    background: hsla(0, 0%, 82%, .33);
    border-radius: 37px;
    display: flex;
    height: 37px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 81%;
    width: 37px;
}

.my_page .order_info_box .order_user_name {
    color: #08090d;
    font-family: Commissioner;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-top: 10px;
}

.my_page .order_info_box .order_user_prof {
    color: #a1a1a1;
    font-family: Commissioner;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.my_page .order_info_box .user_media_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 60%;
}

.my_page .order_info_box .user_media_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 60%;
}

.my_page .order_info_box .follows,
.my_page .order_info_box .user_desc {
    color: #616164;
    display: flex;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    line-height: 24px;
    margin-top: 30px;
    width: 90%;
}

.my_page .my_page_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    margin-top: 40px;
    width: 100%;
}

.my_page_menu .menu_box {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 1px 4px 4px rgba(172, 87, 87, .25), inset 0 4px 4px rgba(0, 0, 0, .25), inset 0 4px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 20px;
    width: 100%;
}


.my_page_menu .menu_box {
    /* Previous styles */
    position: relative;
    z-index: 0;
}

.my_page_menu .menu_box:hover {
    z-index: 1;
}


.my_page .all_article_author_user {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 10px;
}

.my_page .all_article_title {
    color: #e3c08d;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

.my_page .all_article_desc {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 5px;
}

.my_page .menu_box span {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin-left: 30px;
}

.my_page .menu_box img {
    width: 25px;
}

.restaurant_page {
    background: #0b0e11;
    height: auto;
    position: relative;
    width: 100%;
}

.my_page .menu_content .post_content,
.my_page_left .menu_content,
.my_page_left .write_content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    width: 100%;
}

.my_page .my_settings_page {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.my_page .my_settings_page .member_media_frame {
    background: #f7f7f7;
    border-radius: 5px;
    display: flex;
    height: auto;
    margin-top: 25px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.my_page .my_settings_page .media_change_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;
    position: relative;
    width: auto;
}

.my_page .my_settings_page .media_change_box span {
    color: #140342;
    font-family: GT Walsheim Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.my_page .my_settings_page .media_change_box p {
    color: #4f547b;
    font-family: GT Walsheim Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 10px 0 14px;
}

.my_page .my_settings_page .up_del_box {
    align-items: center;
    background: #cbcbcb;
    border-radius: 8px;
    display: flex;
    height: 37px;
    justify-content: center;
    position: relative;
    width: 37px;
}

.my_page .my_settings_page .input_frame {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}

.my_page .my_settings_page .long_input {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.my_page .my_settings_page .spec_label {
    color: #fff;
    font-family: "Source Serif Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.my_page .my_settings_page .spec_input,
.my_page .my_settings_page .spec_textarea {
    background: #f7f7f7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    color: #4f547b;
    font-family: GT Walsheim Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.my_page .my_settings_page .input_frame {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}

.my_page .my_settings_page .short_input {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 49%;
}

.my_page .my_settings_page .spec_label {
    color: #fff;
    font-family: "Source Serif Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.my_page .my_settings_page .spec_input,
.my_page .my_settings_page .spec_textarea {
    background: #f7f7f7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    color: #4f547b;
    font-family: GT Walsheim Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}


.my_page .my_settings_page .short_input {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 49%;
}

.my_page .my_settings_page .spec_label {
    color: #fff;
    font-family: "Source Serif Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.my_page .my_settings_page .spec_input,
.my_page .my_settings_page .spec_textarea {
    background: #f7f7f7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    color: #4f547b;
    font-family: GT Walsheim Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.my_page .my_settings_page .spec_input {
    height: 54px;
    padding-left: 20px;
}


.my_page .my_settings_page .input_frame {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}


.my_page .my_settings_page .long_input {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.my_page .my_settings_page .spec_text_area {
    height: 200px;
    padding: 20px;
}

.my_page .my_settings_page .spec_input,
.my_page .my_settings_page .spec_text_area {
    background: #f7f7f7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    color: #4f547b;
    font-family: GT Walsheim Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.my_page .menu_content .follow_box {
    align-items: center;
    background: linear-gradient(180deg, rgba(38, 112, 129, .9), rgba(21, 61, 70, .9));
    border-radius: 17px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15), inset 3px 2px 9px hsla(0, 0%, 100%, .25);
    display: flex;
    flex-direction: row;
    height: 140px;
    margin-top: 15px;
    padding: 25px 45px;
    width: 100%;
}

.my_page .follow_box .username_text {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    margin-top: 10px;
    width: 100%;
}

.my_page .follow_box .name_text {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.my_page .follow_box .follow_cancel_btn {
    background: #e81010b8;
    width: 185px;
}

.my_page .follow_box .follow_btn,
.my_page .follow_box .follow_cancel_btn {
    border: 1px solid #fff;
    border-radius: 43px;
    box-shadow: 1px 4px 6px hsla(0, 0%, 83%, .25), inset 0 4px 4px hsla(0, 0%, 100%, .25);
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    height: 57px;
    justify-content: space-around;
    line-height: 24px;
}



.my_page .follow_box .following_already {
    background: #68c5cb;
    border-radius: 26px;
    box-shadow: 1px 4px 6px hsla(0, 0%, 83%, .25), inset 0 4px 4px hsla(0, 0%, 100%, .25);
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    margin-left: 11px;
    width: 160px;
}





.wrapp_tab {
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}