.order_page {
    width: 100%;
    height: auto;
    background: #0b0e11;
    color: #fff;

    display: flex;
}

.order_page .order_left {
    width: 70%;
    height: auto;
}

.order_page .order_nav_frame {
    /* background-color: green; */
}

.order_page .order_main_box {
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px 5px;
}

.order_page .order_main_box .order_box_scroll {
    color: #000;
}

.order_page .order_main_box .ordersName_price {
    padding: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: space-between;
}

.order_page .titleDish {
    margin-left: 1rem;
}

.order_page .order_main_box .priceBox {
    display: flex;
    margin-left: 20rem;
    padding: 0 2rem;
}

.order_page .order_left .order_info_box {
    padding: 20px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.order_page .boxTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(217, 217, 217, 0.5);

    border-radius: 0 0 5px 5px;
    color: #000;
    height: 40px;
    border: 1px solid #000;
}

.order_page .boxTotal p {
    margin-left: 5px;
}

.order_page .btn_actions {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.order_page .btn_actions button {
    margin-left: 0.5rem;
}

/* 
Right side */

.order_page .order_right {
    margin-top: 86px;
    margin-left: 30px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.order_page .divider {
    position: relative;
    margin-left: 20px;
    width: 333px;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 8px;
    background: #a1a1a1;
}

.order_page .order_right .order_info_box {
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 16px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25),
        inset 0 4px 4px rgba(0, 0, 0, 0.25),
        inset 0 4px 16px rgba(242, 189, 87, 0.04);
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: -134px;
}


.order_right_2 .order_info_box {
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 16px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25),
        inset 0 4px 4px rgba(0, 0, 0, 0.25),
        inset 0 4px 16px rgba(242, 189, 87, 0.04);
    display: flex;
    flex-direction: column;
    height: 260px;
    padding: 20px;
    width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
}

.wrapp_two_stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.order_page .order_info_box .card_half_input,
.order_page .order_info_box .card_input {
    background: #f5f5f5;
    width: 100%;
    border: 0.5px solid #b3a6a6;
    border-radius: 10px;
    color: #434141;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 40px;
    letter-spacing: -0.02em;
    line-height: 22px;
    margin-top: 10px;
    padding: 10px;
}

.order_page .order_info_box .card_half_input {
    width: 49%;
}

.order_page .order_info_box .cards_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    width: 80%;
}

.order_page .order_info_box .order_user_img {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.order_page .order_info_box .order_user_img .order_user_avatar {
    border-radius: 37px;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    height: 112px;
    width: 117px;
}

.order_page .order_info_box .order_user_icon_box {
    background: rgba(0, 0, 0, 0.33);
    border-radius: 37px;
    display: flex;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 81%;
    width: 30px;
}

.order_page .order_user_icon_box .order_user_prof_img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.order_page .order_info_box .order_user_address {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.order_page .order_info_box .spec_address_txt {
    color: #616164;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 5px;
}

.order_page .priceBox {
    position: relative;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order_page .data_comp {
    color: #000;
}

.order_page .totalProcess {
    display: flex;
    justify-content: space-between;
    background: darkorchid;
}

.order_page .finishedTotal {
    display: flex;
    justify-content: space-around;
    background:rgb(217, 56, 56);
}

.order_page .finishedTotal .done {
    color: #1a1530;
    font-style: italic;
    font-weight: bold;
}